.MenuItem
{
	cursor: pointer;
}

#u98
{
	background-color: #FFFFFF;
}

#u103-4
{
	background-color: transparent;
	font-weight: 400;
	text-align: center;
	font-family: droid-serif, serif;
}

#u99,#u94,#u96
{
	background-color: transparent;
}

@media (min-width: 1025px)
{
	#u105
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #000000;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
	}

	#menuu106
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u129
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u129:hover
	{
		background-color: #22B573;
	}

	#u130
	{
		vertical-align: top;
		background: transparent url("../images/u130.png") no-repeat 0px 0px;
	}

	#u129:hover #u130
	{
		background: transparent url("../images/u130-r.png") no-repeat 0px 0px;
	}

	#u129.MuseMenuActive #u130
	{
		background: transparent url("../images/u130-a.png") no-repeat 0px 0px;
	}

	#u124
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u129.MuseMenuActive,#u124:hover
	{
		background-color: #22B573;
	}

	#u125
	{
		vertical-align: top;
		background: transparent url("../images/u125.png") no-repeat 0px 0px;
	}

	#u124:hover #u125
	{
		background: transparent url("../images/u125-r.png") no-repeat 0px 0px;
	}

	#u124.MuseMenuActive #u125
	{
		background: transparent url("../images/u125-a.png") no-repeat 0px 0px;
	}

	#u115
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u124.MuseMenuActive,#u115:hover
	{
		background-color: #22B573;
	}

	#u116
	{
		vertical-align: top;
		background: transparent url("../images/u116.png") no-repeat 0px 0px;
	}

	#u115:hover #u116
	{
		background: transparent url("../images/u116-r.png") no-repeat 0px 0px;
	}

	#u115.MuseMenuActive #u116
	{
		background: transparent url("../images/u116-a.png") no-repeat 0px 0px;
	}

	#u108
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u115.MuseMenuActive,#u108:hover
	{
		background-color: #22B573;
	}

	#u108.MuseMenuActive
	{
		background-color: #22B573;
	}

	#u111
	{
		vertical-align: top;
		background: transparent url("../images/u111.png") no-repeat 0px 0px;
	}

	#u108:hover #u111
	{
		background: transparent url("../images/u111-r.png") no-repeat 0px 0px;
	}

	#u108.MuseMenuActive #u111
	{
		background: transparent url("../images/u111-a.png") no-repeat 0px 0px;
	}

	#u98_align_to_page
	{
		max-width: 1200px;
	}

	#u128,#u121,#u114,#u107,#u101
	{
		background-color: transparent;
	}

	#u103-4
	{
		line-height: 29px;
		font-size: 24px;
	}

	#u135-4,#u136-4
	{
		background-color: transparent;
		line-height: 14px;
		font-size: 12px;
		color: #EDECEC;
		font-family: istok-web, sans-serif;
		font-weight: 400;
	}

}

@media (min-width: 769px) and (max-width: 1024px)
{
	#u105
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #000000;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
	}

	#menuu4961
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u4984
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u4984:hover
	{
		background-color: #22B573;
	}

	#u4985
	{
		vertical-align: top;
		background: transparent url("../images/u4985.png") no-repeat 0px 0px;
	}

	#u4984:hover #u4985
	{
		background: transparent url("../images/u4985-r.png") no-repeat 0px 0px;
	}

	#u4984.MuseMenuActive #u4985
	{
		background: transparent url("../images/u4985-a.png") no-repeat 0px 0px;
	}

	#u4977
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u4984.MuseMenuActive,#u4977:hover
	{
		background-color: #22B573;
	}

	#u4978
	{
		vertical-align: top;
		background: transparent url("../images/u4978.png") no-repeat 0px 0px;
	}

	#u4977:hover #u4978
	{
		background: transparent url("../images/u4978-r.png") no-repeat 0px 0px;
	}

	#u4977.MuseMenuActive #u4978
	{
		background: transparent url("../images/u4978-a.png") no-repeat 0px 0px;
	}

	#u4965
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u4977.MuseMenuActive,#u4965:hover
	{
		background-color: #22B573;
	}

	#u4967
	{
		vertical-align: top;
		background: transparent url("../images/u4967.png") no-repeat 0px 0px;
	}

	#u4965:hover #u4967
	{
		background: transparent url("../images/u4967-r.png") no-repeat 0px 0px;
	}

	#u4965.MuseMenuActive #u4967
	{
		background: transparent url("../images/u4967-a.png") no-repeat 0px 0px;
	}

	#u4970
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u4965.MuseMenuActive,#u4970:hover
	{
		background-color: #22B573;
	}

	#u4970.MuseMenuActive
	{
		background-color: #22B573;
	}

	#u4971
	{
		vertical-align: top;
		background: transparent url("../images/u4971.png") no-repeat 0px 0px;
	}

	#u4970:hover #u4971
	{
		background: transparent url("../images/u4971-r.png") no-repeat 0px 0px;
	}

	#u4970.MuseMenuActive #u4971
	{
		background: transparent url("../images/u4971-a.png") no-repeat 0px 0px;
	}

	#u98_align_to_page
	{
		max-width: 1024px;
	}

	#u4983,#u4976,#u4962,#u4969,#u101
	{
		background-color: transparent;
	}

	#u103-4
	{
		line-height: 29px;
		font-size: 24px;
	}

	#u135-4,#u136-4
	{
		background-color: transparent;
		line-height: 14px;
		font-size: 12px;
		color: #EDECEC;
		font-family: istok-web, sans-serif;
		font-weight: 400;
	}

}

@media (min-width: 481px) and (max-width: 768px)
{
	#u105
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #000000;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
	}

	#menuu886
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u909
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u909:hover
	{
		background-color: #22B573;
	}

	#u910
	{
		vertical-align: top;
		background: transparent url("../images/u910.png") no-repeat 0px 0px;
	}

	#u909:hover #u910
	{
		background: transparent url("../images/u910-r.png") no-repeat 0px 0px;
	}

	#u909.MuseMenuActive #u910
	{
		background: transparent url("../images/u910-a.png") no-repeat 0px 0px;
	}

	#u902
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u909.MuseMenuActive,#u902:hover
	{
		background-color: #22B573;
	}

	#u903
	{
		vertical-align: top;
		background: transparent url("../images/u903.png") no-repeat 0px 0px;
	}

	#u902:hover #u903
	{
		background: transparent url("../images/u903-r.png") no-repeat 0px 0px;
	}

	#u902.MuseMenuActive #u903
	{
		background: transparent url("../images/u903-a.png") no-repeat 0px 0px;
	}

	#u890
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u902.MuseMenuActive,#u890:hover
	{
		background-color: #22B573;
	}

	#u892
	{
		vertical-align: top;
		background: transparent url("../images/u892.png") no-repeat 0px 0px;
	}

	#u890:hover #u892
	{
		background: transparent url("../images/u892-r.png") no-repeat 0px 0px;
	}

	#u890.MuseMenuActive #u892
	{
		background: transparent url("../images/u892-a.png") no-repeat 0px 0px;
	}

	#u895
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u890.MuseMenuActive,#u895:hover
	{
		background-color: #22B573;
	}

	#u895.MuseMenuActive
	{
		background-color: #22B573;
	}

	#u896
	{
		vertical-align: top;
		background: transparent url("../images/u896.png") no-repeat 0px 0px;
	}

	#u895:hover #u896
	{
		background: transparent url("../images/u896-r.png") no-repeat 0px 0px;
	}

	#u895.MuseMenuActive #u896
	{
		background: transparent url("../images/u896-a.png") no-repeat 0px 0px;
	}

	#u98_align_to_page
	{
		max-width: 768px;
	}

	#u908,#u901,#u887,#u894,#u101
	{
		background-color: transparent;
	}

	#u103-4
	{
		line-height: 22px;
		font-size: 18px;
	}

}

@media (min-width: 415px) and (max-width: 480px)
{
	#menuu1188
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #000000;
	}

	#u1192
	{
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: transparent;
	}

	#u1192:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.2);
		-pie-background: rgba(255,255,255,0.2);
	}

	#u1192:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1194-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		font-size: 14px;
		text-align: center;
		color: #FFFFFF;
		font-family: droid-serif, serif;
		font-weight: 400;
	}

	#u1192:active #u1194-4 p,#u1192:active #u1194-4 span
	{
		color: #000000;
		visibility: inherit;
	}

	#u1191
	{
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: #CCCCCC;
		background-color: rgba(0,0,0,0.2);
		-pie-background: rgba(0,0,0,0.2);
	}

	#u1266
	{
		border-style: solid;
		border-width: 1px;
		border-color: #777777;
		background-color: #666666;
		background-color: rgba(0,0,0,0.6);
		-pie-background: rgba(0,0,0,0.6);
	}

	#u1266:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1266:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1266.MuseMenuActive
	{
		background-color: #323232;
		background-color: rgba(0,0,0,0.8);
		-pie-background: rgba(0,0,0,0.8);
	}

	#u1189,#u1192.MuseMenuActive,#u1190,#u1264,#u1270-4
	{
		background-color: transparent;
	}

	#u1266:hover #u1270-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1266:active #u1270-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1400
	{
		border-style: solid;
		border-width: 1px;
		border-color: #777777;
		background-color: #666666;
		background-color: rgba(0,0,0,0.6);
		-pie-background: rgba(0,0,0,0.6);
	}

	#u1400:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1400:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1400.MuseMenuActive
	{
		background-color: #323232;
		background-color: rgba(0,0,0,0.8);
		-pie-background: rgba(0,0,0,0.8);
	}

	#u1399,#u1401-4
	{
		background-color: transparent;
	}

	#u1400:hover #u1401-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1400:active #u1401-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1351
	{
		border-style: solid;
		border-width: 1px;
		border-color: #777777;
		background-color: #666666;
		background-color: rgba(0,0,0,0.6);
		-pie-background: rgba(0,0,0,0.6);
	}

	#u1351:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1351:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1351.MuseMenuActive
	{
		background-color: #323232;
		background-color: rgba(0,0,0,0.8);
		-pie-background: rgba(0,0,0,0.8);
	}

	#u1350,#u1352-4
	{
		background-color: transparent;
	}

	#u1351:hover #u1352-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1351:active #u1352-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1300
	{
		border-style: solid;
		border-width: 1px;
		border-color: #777777;
		background-color: #666666;
		background-color: rgba(0,0,0,0.6);
		-pie-background: rgba(0,0,0,0.6);
	}

	#u1300:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1300:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1300.MuseMenuActive
	{
		background-color: #323232;
		background-color: rgba(0,0,0,0.8);
		-pie-background: rgba(0,0,0,0.8);
	}

	#u1299,#u1301-4
	{
		background-color: transparent;
	}

	#u1300:hover #u1301-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1300:active #u1301-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1192.MuseMenuActive #u1194-4 p,#u1192.MuseMenuActive #u1194-4 span,#u1266.MuseMenuActive #u1270-4 p,#u1400.MuseMenuActive #u1401-4 p,#u1351.MuseMenuActive #u1352-4 p,#u1300.MuseMenuActive #u1301-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1270-3,#u1401-3,#u1352-3,#u1301-3
	{
		font-size: 11px;
		color: #FFFFFF;
		text-transform: uppercase;
		line-height: 13px;
		text-align: center;
		font-family: droid-serif, serif;
		font-weight: 400;
	}

	#u98_align_to_page
	{
		max-width: 480px;
	}

	#u101
	{
		background-color: transparent;
	}

	#u103-4
	{
		line-height: 22px;
		font-size: 18px;
	}

}

@media (min-width: 376px) and (max-width: 414px)
{
	#menuu1188
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #000000;
	}

	#u1192
	{
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: transparent;
	}

	#u1192:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.2);
		-pie-background: rgba(255,255,255,0.2);
	}

	#u1192:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1194-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		font-size: 14px;
		text-align: center;
		color: #FFFFFF;
		font-family: droid-serif, serif;
		font-weight: 400;
	}

	#u1192:active #u1194-4 p,#u1192:active #u1194-4 span
	{
		color: #000000;
		visibility: inherit;
	}

	#u1191
	{
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: #CCCCCC;
		background-color: rgba(0,0,0,0.2);
		-pie-background: rgba(0,0,0,0.2);
	}

	#u1266
	{
		border-style: solid;
		border-width: 1px;
		border-color: #777777;
		background-color: #666666;
		background-color: rgba(0,0,0,0.6);
		-pie-background: rgba(0,0,0,0.6);
	}

	#u1266:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1266:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1266.MuseMenuActive
	{
		background-color: #323232;
		background-color: rgba(0,0,0,0.8);
		-pie-background: rgba(0,0,0,0.8);
	}

	#u1189,#u1192.MuseMenuActive,#u1190,#u1264,#u1270-4
	{
		background-color: transparent;
	}

	#u1266:hover #u1270-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1266:active #u1270-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1400
	{
		border-style: solid;
		border-width: 1px;
		border-color: #777777;
		background-color: #666666;
		background-color: rgba(0,0,0,0.6);
		-pie-background: rgba(0,0,0,0.6);
	}

	#u1400:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1400:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1400.MuseMenuActive
	{
		background-color: #323232;
		background-color: rgba(0,0,0,0.8);
		-pie-background: rgba(0,0,0,0.8);
	}

	#u1399,#u1401-4
	{
		background-color: transparent;
	}

	#u1400:hover #u1401-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1400:active #u1401-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1351
	{
		border-style: solid;
		border-width: 1px;
		border-color: #777777;
		background-color: #666666;
		background-color: rgba(0,0,0,0.6);
		-pie-background: rgba(0,0,0,0.6);
	}

	#u1351:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1351:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1351.MuseMenuActive
	{
		background-color: #323232;
		background-color: rgba(0,0,0,0.8);
		-pie-background: rgba(0,0,0,0.8);
	}

	#u1350,#u1352-4
	{
		background-color: transparent;
	}

	#u1351:hover #u1352-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1351:active #u1352-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1300
	{
		border-style: solid;
		border-width: 1px;
		border-color: #777777;
		background-color: #666666;
		background-color: rgba(0,0,0,0.6);
		-pie-background: rgba(0,0,0,0.6);
	}

	#u1300:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1300:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1300.MuseMenuActive
	{
		background-color: #323232;
		background-color: rgba(0,0,0,0.8);
		-pie-background: rgba(0,0,0,0.8);
	}

	#u1299,#u1301-4
	{
		background-color: transparent;
	}

	#u1300:hover #u1301-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1300:active #u1301-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1192.MuseMenuActive #u1194-4 p,#u1192.MuseMenuActive #u1194-4 span,#u1266.MuseMenuActive #u1270-4 p,#u1400.MuseMenuActive #u1401-4 p,#u1351.MuseMenuActive #u1352-4 p,#u1300.MuseMenuActive #u1301-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1270-3,#u1401-3,#u1352-3,#u1301-3
	{
		font-size: 11px;
		color: #FFFFFF;
		text-transform: uppercase;
		line-height: 13px;
		text-align: center;
		font-family: droid-serif, serif;
		font-weight: 400;
	}

	#u98_align_to_page
	{
		max-width: 414px;
	}

	#u101_img
	{
		display: block;
		vertical-align: top;
	}

	#u103-4
	{
		line-height: 22px;
		font-size: 18px;
	}

}

@media (min-width: 321px) and (max-width: 375px)
{
	#menuu1188
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #000000;
	}

	#u1192
	{
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: transparent;
	}

	#u1192:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.2);
		-pie-background: rgba(255,255,255,0.2);
	}

	#u1192:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1194-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		font-size: 14px;
		text-align: center;
		color: #FFFFFF;
		font-family: droid-serif, serif;
		font-weight: 400;
	}

	#u1192:active #u1194-4 p,#u1192:active #u1194-4 span
	{
		color: #000000;
		visibility: inherit;
	}

	#u1191
	{
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: #CCCCCC;
		background-color: rgba(0,0,0,0.2);
		-pie-background: rgba(0,0,0,0.2);
	}

	#u1266
	{
		border-style: solid;
		border-width: 1px;
		border-color: #777777;
		background-color: #666666;
		background-color: rgba(0,0,0,0.6);
		-pie-background: rgba(0,0,0,0.6);
	}

	#u1266:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1266:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1266.MuseMenuActive
	{
		background-color: #323232;
		background-color: rgba(0,0,0,0.8);
		-pie-background: rgba(0,0,0,0.8);
	}

	#u1189,#u1192.MuseMenuActive,#u1190,#u1264,#u1270-4
	{
		background-color: transparent;
	}

	#u1266:hover #u1270-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1266:active #u1270-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1400
	{
		border-style: solid;
		border-width: 1px;
		border-color: #777777;
		background-color: #666666;
		background-color: rgba(0,0,0,0.6);
		-pie-background: rgba(0,0,0,0.6);
	}

	#u1400:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1400:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1400.MuseMenuActive
	{
		background-color: #323232;
		background-color: rgba(0,0,0,0.8);
		-pie-background: rgba(0,0,0,0.8);
	}

	#u1399,#u1401-4
	{
		background-color: transparent;
	}

	#u1400:hover #u1401-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1400:active #u1401-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1351
	{
		border-style: solid;
		border-width: 1px;
		border-color: #777777;
		background-color: #666666;
		background-color: rgba(0,0,0,0.6);
		-pie-background: rgba(0,0,0,0.6);
	}

	#u1351:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1351:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1351.MuseMenuActive
	{
		background-color: #323232;
		background-color: rgba(0,0,0,0.8);
		-pie-background: rgba(0,0,0,0.8);
	}

	#u1350,#u1352-4
	{
		background-color: transparent;
	}

	#u1351:hover #u1352-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1351:active #u1352-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1300
	{
		border-style: solid;
		border-width: 1px;
		border-color: #777777;
		background-color: #666666;
		background-color: rgba(0,0,0,0.6);
		-pie-background: rgba(0,0,0,0.6);
	}

	#u1300:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1300:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1300.MuseMenuActive
	{
		background-color: #323232;
		background-color: rgba(0,0,0,0.8);
		-pie-background: rgba(0,0,0,0.8);
	}

	#u1299,#u1301-4
	{
		background-color: transparent;
	}

	#u1300:hover #u1301-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1300:active #u1301-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1192.MuseMenuActive #u1194-4 p,#u1192.MuseMenuActive #u1194-4 span,#u1266.MuseMenuActive #u1270-4 p,#u1400.MuseMenuActive #u1401-4 p,#u1351.MuseMenuActive #u1352-4 p,#u1300.MuseMenuActive #u1301-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1270-3,#u1401-3,#u1352-3,#u1301-3
	{
		font-size: 11px;
		color: #FFFFFF;
		text-transform: uppercase;
		line-height: 13px;
		text-align: center;
		font-family: droid-serif, serif;
		font-weight: 400;
	}

	#u98_align_to_page
	{
		max-width: 375px;
	}

	#u101
	{
		background-color: transparent;
	}

	#u103-4
	{
		line-height: 22px;
		font-size: 18px;
	}

}

@media (max-width: 320px)
{
	#menuu1188
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #000000;
	}

	#u1192
	{
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: transparent;
	}

	#u1192:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.2);
		-pie-background: rgba(255,255,255,0.2);
	}

	#u1192:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1194-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-transform: uppercase;
		font-size: 14px;
		text-align: center;
		color: #FFFFFF;
		font-family: droid-serif, serif;
		font-weight: 400;
	}

	#u1192:active #u1194-4 p,#u1192:active #u1194-4 span
	{
		color: #000000;
		visibility: inherit;
	}

	#u1191
	{
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background-color: #CCCCCC;
		background-color: rgba(0,0,0,0.2);
		-pie-background: rgba(0,0,0,0.2);
	}

	#u1266
	{
		border-style: solid;
		border-width: 1px;
		border-color: #777777;
		background-color: #666666;
		background-color: rgba(0,0,0,0.6);
		-pie-background: rgba(0,0,0,0.6);
	}

	#u1266:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1266:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1266.MuseMenuActive
	{
		background-color: #323232;
		background-color: rgba(0,0,0,0.8);
		-pie-background: rgba(0,0,0,0.8);
	}

	#u1189,#u1192.MuseMenuActive,#u1190,#u1264,#u1270-4
	{
		background-color: transparent;
	}

	#u1266:hover #u1270-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1266:active #u1270-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1400
	{
		border-style: solid;
		border-width: 1px;
		border-color: #777777;
		background-color: #666666;
		background-color: rgba(0,0,0,0.6);
		-pie-background: rgba(0,0,0,0.6);
	}

	#u1400:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1400:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1400.MuseMenuActive
	{
		background-color: #323232;
		background-color: rgba(0,0,0,0.8);
		-pie-background: rgba(0,0,0,0.8);
	}

	#u1399,#u1401-4
	{
		background-color: transparent;
	}

	#u1400:hover #u1401-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1400:active #u1401-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1351
	{
		border-style: solid;
		border-width: 1px;
		border-color: #777777;
		background-color: #666666;
		background-color: rgba(0,0,0,0.6);
		-pie-background: rgba(0,0,0,0.6);
	}

	#u1351:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1351:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1351.MuseMenuActive
	{
		background-color: #323232;
		background-color: rgba(0,0,0,0.8);
		-pie-background: rgba(0,0,0,0.8);
	}

	#u1350,#u1352-4
	{
		background-color: transparent;
	}

	#u1351:hover #u1352-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1351:active #u1352-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1300
	{
		border-style: solid;
		border-width: 1px;
		border-color: #777777;
		background-color: #666666;
		background-color: rgba(0,0,0,0.6);
		-pie-background: rgba(0,0,0,0.6);
	}

	#u1300:hover
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1300:active
	{
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,1);
		-pie-background: rgba(255,255,255,1);
	}

	#u1300.MuseMenuActive
	{
		background-color: #323232;
		background-color: rgba(0,0,0,0.8);
		-pie-background: rgba(0,0,0,0.8);
	}

	#u1299,#u1301-4
	{
		background-color: transparent;
	}

	#u1300:hover #u1301-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1300:active #u1301-4 p
	{
		color: #000000;
		visibility: inherit;
	}

	#u1192.MuseMenuActive #u1194-4 p,#u1192.MuseMenuActive #u1194-4 span,#u1266.MuseMenuActive #u1270-4 p,#u1400.MuseMenuActive #u1401-4 p,#u1351.MuseMenuActive #u1352-4 p,#u1300.MuseMenuActive #u1301-4 p
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1270-3,#u1401-3,#u1352-3,#u1301-3
	{
		font-size: 11px;
		color: #FFFFFF;
		text-transform: uppercase;
		line-height: 13px;
		text-align: center;
		font-family: droid-serif, serif;
		font-weight: 400;
	}

	#u98_align_to_page
	{
		max-width: 320px;
	}

	#u101
	{
		background-color: transparent;
	}

	#u103-4
	{
		line-height: 19px;
		font-size: 16px;
	}

}

