	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 555px;
		padding-bottom: 12px;
		max-width: 1200px;
	}

	#pu105
	{
		padding-bottom: 62px;
		width: 100%;
	}

	#u105
	{
		z-index: 21;
		height: 62px;
		position: fixed;
		top: 0px;
	}

	#u105-bw
	{
		z-index: 21;
	}

	#menuu106
	{
		z-index: 22;
		width: 1200px;
		position: fixed;
		top: 0px;
		left: 50%;
		margin-left: -600px;
	}

	#u128
	{
		width: 280px;
		min-height: 62px;
		position: relative;
		margin-right: -10000px;
	}

	#u129
	{
		width: 280px;
		padding-bottom: 42px;
		position: relative;
	}

	#u129:hover
	{
		width: 280px;
		min-height: 0px;
		margin: 0px;
	}

	#u129.MuseMenuActive
	{
		width: 280px;
		min-height: 0px;
		margin: 0px;
	}

	#u130
	{
		height: 20px;
		width: 80px;
		position: relative;
		margin-right: -10000px;
		top: 21px;
		left: 100px;
	}

	#u121
	{
		width: 288px;
		min-height: 62px;
		position: relative;
		margin-right: -10000px;
		left: 282px;
	}

	#u124
	{
		width: 288px;
		padding-bottom: 42px;
		position: relative;
	}

	#u124:hover
	{
		width: 288px;
		min-height: 0px;
		margin: 0px;
	}

	#u124.MuseMenuActive
	{
		width: 288px;
		min-height: 0px;
		margin: 0px;
	}

	#u125
	{
		height: 20px;
		width: 88px;
		position: relative;
		margin-right: -10000px;
		top: 21px;
		left: 100px;
	}

	#u114
	{
		width: 286px;
		min-height: 62px;
		position: relative;
		margin-right: -10000px;
		left: 572px;
	}

	#u115
	{
		width: 286px;
		padding-bottom: 42px;
		position: relative;
	}

	#u115:hover
	{
		width: 286px;
		min-height: 0px;
		margin: 0px;
	}

	#u115.MuseMenuActive
	{
		width: 286px;
		min-height: 0px;
		margin: 0px;
	}

	#u116
	{
		height: 20px;
		width: 87px;
		position: relative;
		margin-right: -10000px;
		top: 21px;
		left: 99px;
	}

	#u107
	{
		width: 340px;
		min-height: 62px;
		position: relative;
		margin-right: -10000px;
		left: 860px;
	}

	#u108
	{
		width: 340px;
		padding-bottom: 42px;
		position: relative;
	}

	#u108:hover
	{
		width: 340px;
		min-height: 0px;
		margin: 0px;
	}

	#u108.MuseMenuActive
	{
		width: 340px;
		min-height: 0px;
		margin: 0px;
	}

	#u111
	{
		height: 20px;
		width: 141px;
		position: relative;
		margin-right: -10000px;
		top: 21px;
		left: 99px;
	}

	#pu1804
	{
		margin-top: 70px;
		width: 100%;
	}

	#u1804
	{
		min-height: 256px;
		padding-bottom: 24px;
	}

	#u1804_align_to_page
	{
		max-width: 1200px;
	}

	#buttonu1805
	{
		width: 286px;
		padding-bottom: 8px;
		margin-right: -10000px;
		margin-top: 215px;
		left: -143px;
	}

	#buttonu1805:hover
	{
		margin-right: -10000px;
		margin-top: 215px;
		width: 286px;
		left: -143px;
	}

	#buttonu1805:active
	{
		margin-right: -10000px;
		margin-top: 215px;
		width: 286px;
		left: -143px;
	}

	#u1806-4
	{
		width: 255px;
		min-height: 25px;
		font-size: 20px;
		line-height: 24px;
		margin-top: 8px;
		left: 5.6%;
	}

	#buttonu1805:hover #u1806-4
	{
		margin-top: 8px;
		min-height: 25px;
		width: 255px;
	}

	#buttonu1805:active #u1806-4
	{
		margin-top: 8px;
		min-height: 25px;
		width: 255px;
	}

	#buttonu1805.ButtonSelected #u1806-4
	{
		margin-top: 8px;
		min-height: 25px;
		width: 255px;
	}

	#u1804-bw
	{
		min-height: 256px;
	}

	#u1807-12
	{
		z-index: 8;
		min-height: 149px;
		background-color: transparent;
		font-weight: 700;
	}

	#u1807-2
	{
		font-size: 22px;
		text-transform: none;
		line-height: 26px;
		color: #000000;
		font-family: droid-serif, serif;
	}

	#u1807-3
	{
		font-size: 18px;
		text-transform: none;
		line-height: 22px;
		color: #000000;
		font-family: droid-serif, serif;
	}

	#u1807-8
	{
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		font-family: droid-serif, serif;
	}

	#u1807-5,#u1807-7,#u1807-10
	{
		font-size: 16px;
		text-transform: none;
		line-height: 19px;
		color: #000000;
		font-family: droid-serif, serif;
	}

	#u1807-12-bw
	{
		z-index: 8;
		min-height: 149px;
		margin-top: 43px;
	}

	#u1859,#u1859-bw
	{
		z-index: 20;
		height: 124px;
	}

	#u98
	{
		z-index: 51;
		min-height: 143px;
		padding-bottom: 12px;
	}

	#u99
	{
		z-index: 52;
		margin-top: 68px;
		width: 15.92%;
		left: 25.42%;
	}

	#u101
	{
		z-index: 54;
		margin-top: 55px;
		width: 10.42%;
		left: 61.42%;
	}

	#u98-bw
	{
		z-index: 51;
		min-height: 143px;
	}

	#u103-4
	{
		z-index: 56;
		min-height: 34px;
	}

	#u103-4-bw
	{
		z-index: 56;
		min-height: 34px;
		margin-top: 15px;
	}

	#pu94
	{
		margin-top: 10px;
	}

	#u94
	{
		z-index: 47;
		width: 3.09%;
		left: 32.17%;
	}

	#u135-4
	{
		z-index: 60;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		margin-top: 10px;
		width: 15.42%;
		left: 35.75%;
	}

	#u96
	{
		z-index: 49;
		width: 3.09%;
		left: 54.17%;
	}

	#u136-4
	{
		z-index: 64;
		min-height: 16px;
		position: relative;
		margin-right: -10000px;
		margin-top: 10px;
		width: 15.42%;
		left: 58.34%;
	}

	.html
	{
		background-image: url("../images/stary%20sky.jpg");
	}

