	#u105
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #000000;
		opacity: 0.8;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		filter: alpha(opacity=80);
	}

	#menuu106
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u129
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u129:hover
	{
		background-color: #22B573;
	}

	#u130
	{
		vertical-align: top;
		background: transparent url("../images/u130.png") no-repeat 0px 0px;
	}

	#u129:hover #u130
	{
		background: transparent url("../images/u130-r.png") no-repeat 0px 0px;
	}

	#u129.MuseMenuActive #u130
	{
		background: transparent url("../images/u130-a.png") no-repeat 0px 0px;
	}

	#u124
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u129.MuseMenuActive,#u124:hover
	{
		background-color: #22B573;
	}

	#u125
	{
		vertical-align: top;
		background: transparent url("../images/u125.png") no-repeat 0px 0px;
	}

	#u124:hover #u125
	{
		background: transparent url("../images/u125-r.png") no-repeat 0px 0px;
	}

	#u124.MuseMenuActive #u125
	{
		background: transparent url("../images/u125-a.png") no-repeat 0px 0px;
	}

	#u115
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u124.MuseMenuActive,#u115:hover
	{
		background-color: #22B573;
	}

	#u116
	{
		vertical-align: top;
		background: transparent url("../images/u116.png") no-repeat 0px 0px;
	}

	#u115:hover #u116
	{
		background: transparent url("../images/u116-r.png") no-repeat 0px 0px;
	}

	#u115.MuseMenuActive #u116
	{
		background: transparent url("../images/u116-a.png") no-repeat 0px 0px;
	}

	#u108
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		background-color: transparent;
	}

	#u115.MuseMenuActive,#u108:hover
	{
		background-color: #22B573;
	}

	#u108.MuseMenuActive
	{
		background-color: #22B573;
	}

	#u111
	{
		vertical-align: top;
		background: transparent url("../images/u111.png") no-repeat 0px 0px;
	}

	#u108:hover #u111
	{
		background: transparent url("../images/u111-r.png") no-repeat 0px 0px;
	}

	#u108.MuseMenuActive #u111
	{
		background: transparent url("../images/u111-a.png") no-repeat 0px 0px;
	}

	#u98_align_to_page
	{
		max-width: 1200px;
	}

	#u128,#u121,#u114,#u107,#u101
	{
		background-color: transparent;
	}

	#u103-4
	{
		line-height: 29px;
		font-size: 24px;
	}

	#u135-4,#u136-4
	{
		background-color: transparent;
		line-height: 14px;
		font-size: 12px;
		color: #EDECEC;
		font-family: istok-web, sans-serif;
		font-weight: 400;
	}


